@page
@model M_CHAT.Pages.Index1Model
@{
    ViewData["Title"] = "Detalles de la sesion";
    int t = (int)ViewData["Tutor"];

}

<h1>Informacion de la cuenta</h1>
<p>
    Vea la informacion de su usuario como tutor y la de los niños registrados en su cuenta. Seleccione un niño para Comenzar un test o para Ver el resultado.
    Asimismo tambien puede registrar o eliminar un niño desde aqui.
</p>

<input hidden asp-for="@Model.Tutor.Id" />
<input hidden asp-for="@Model.Tutor.CuentaId" />
<input hidden asp-for="@Model.Cuenta.Id" />
<input hidden asp-for="@Model.Ninio.Id" />

<p>
    <div class="card" style="width: 69.9rem;">
        <div class="card-header">
            Datos del tutor
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="form-group-row">
                    <label asp-for="Tutor.Nombre"></label>
                    <div>
                        <input type="text" role="textbox" class="form-control" asp-for="@Model.Tutor.Nombre" readonly>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-group-row">
                    <label asp-for="Tutor.Direccion"></label>
                    <div>
                        <input type="text" role="textbox" class="form-control" asp-for="@Model.Tutor.Direccion" readonly>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-group-row">
                    <label for="ControlInput3">Correo Electronico</label>
                    <div>
                        <input type="text" role="textbox" class="form-control" asp-for="@Model.Cuenta.Correo" readonly>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</p>
<br />
<div class="d-flex justify-content-end">
    <a asp-page="/AgregarNinio" asp-route-Id="@t" class="btn btn-success m-1">Agregar Niño</a>
</div>
<br />

@if (Model.Ninios.Ninios.Any())
{
    @foreach (var item in Model.Ninios.Ninios)
    {
        var foto = $"/Images/{(string.IsNullOrEmpty(item.Foto) ? "notfound.jpg" : item.Foto)}";
        <div class="d-flex justify-content-end">

            <div class="card text-right" style="max-width: 36rem;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="@foto" class="card-img" asp-append-version="true" style="width:210px;height:240px"/>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@item.Nom_Comp</h5>
                            <p class="card-text">
                                <ul>
                                    <li>
                                        <select asp-for="@item.Nacionalidad" asp-items="Html.GetEnumSelectList<M_CHAT.Models.Nacionalidad>()" disabled></select>
                                    </li>
                                    <li>
                                        @item.CURP
                                    </li>
                                    <li>
                                        @item.Genero
                                    </li>
                                </ul>
                            </p>
                            <div class="d-flex justify-content-end">
                                <a asp-page="/Test" class="btn btn-success m-1" asp-route-Id="@item.Id" asp-route-Pregunta="1">Comenzar un test</a>
                                <a asp-page="/Resultados" class="btn btn-info m-1">Ver el resultado</a>
                                <a asp-page="/ModificarNinio" class="btn btn-danger m-1" asp-route-Id="@item.Id">Modificar Niño</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}


