@page
@model M_CHAT.Pages.TestModel
@{
    var sig = Model.pregunta.Id + 1;
    var ant = Model.pregunta.Id - 1;
    var real = Model.pregunta.Id - 23;
    var porc = 4.34;
    var porcc = (porc * real) + "%";
}

<h1 class="text-dark">Test</h1>
<div class="d-flex justify-content-end">
    <a asp-page="/Index" class="btn btn-danger m-1">Cancelar</a>
    <a asp-page="/Resultados" class="btn btn-success m-1">Resultados></a>

</div>
<br />
<p class="text-dark">
    Este cuestionario consta de 23 preguntas, subdivididas internamente en las categorias de normales o criticos. Se considera que un niño
    falla en el cuestionario si falla en 2 o más preguntas criticas o si falla 3 preguntas cualesquiera.
</p>


<form method="post">
    <center>
        <div class="btn-group">
            <label class="btn btn-success button">
                <input type="submit" class="btn btn-success m-1" asp-for="@Model.x" value="@ant" hidden />Anterior
            </label>
            <label class="btn btn-success button">
                <input type="submit" class="btn btn-success m-1" asp-for="@Model.x" value="@sig" hidden />Siguiente
            </label>
        </div>
    </center>



    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: @porcc" aria-valuenow="1" aria-valuemin="5" aria-valuemax="100"></div>
    </div>
    <hr />

    <input hidden asp-for="Respuesta.NinioId" />
    <input hidden asp-for="Respuesta.PreguntaId" />
    <input hidden asp-for="Respuesta.Id" />
    <input hidden asp-for="pregunta.Id" />

    <li>@Model.pregunta.PreguntaRealizada</li>
    <br />

    @if (Model.Respuesta.ValorRespuesta == true)
    {
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-success">
                    <input id="Si" type="radio" asp-for="Respuesta.ValorRespuesta" value="true" checked /> Si
                </label>
            </div>
        <br />
    }
    else
    {
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-success">
                    <input id="Si" type="radio" asp-for="Respuesta.ValorRespuesta" value="true" /> Si
                </label>
            </div>
        <br />
    }
    @if (Model.Respuesta.ValorRespuesta == false)
    {
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-danger">
                    <input id="No" type="radio" asp-for="Respuesta.ValorRespuesta" value="false" checked /> No
                </label>
            </div>
        <br />
    }
    else
    {
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-danger">
                    <input id="No" type="radio" asp-for="Respuesta.ValorRespuesta" value="false" /> No
                </label>
            </div>
        <br />
    }
</form>
